@media (max-width:420px;) 
{
 font-family: 'Urbanist';

.h1 {font-size: 20px;}

.body {font-size: 14px;}

.html {background-color: #3D3B8E;}

* {color: #FFF;}
}

@media (min-width: 600px;)
{ 
    .h1 {font-size:50px;}
    .body {font-size: 26px;}
{background-color: #B0E298;}
}

.container (min-width:500px) {
    display:flex;
    justify-content:space-between;
    align-items:center;
}